{% extends "base.html" %}

{% block app_content %}
    <h1>Posts</h1>
    <br>
    <table class="table table-hover">
        {% if posts|length == 0 %}
            <tr>No Data Found</tr>
        {% else %}
            <tr>
                <th>Id</th>
                <th>Body</th>
                <th>Created At</th>
                <th>Created By</th>
                <th>Language</th>
            </tr>
            {% for blog in posts %}
                <tr>
                    <td>{{blog.id}}</td>
                    <td>{{blog.body}}</td>
                    <td>{{blog.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                    <td>{{blog.author.username}}</td>
                    <td>{{blog.language}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
